a {
	text-decoration: none;
	color: white;
}

body {
	background-color: #0077be;
	background-image: url("wave.png");
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

body, html {
	height: 100%;
}

nav {
	width: 100%;
	height: 100px;
	background-color: #87ceeb;
	background: -webkit-linear-gradient(left top, #25a7da, #87ceeb);
    background: -o-linear-gradient(bottom right, #25a7da, #87ceeb);
    background: -moz-linear-gradient(bottom right, #25a7da, #87ceeb);
    background: linear-gradient(to bottom right, #25a7da, #87ceeb);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*========================================================SANDWICH MENU*/
.dropbtn {
	background-color: transparent;
	margin: 20px 0;
    padding: 16px;
	border: none;
    font-size: 16px;
    cursor: pointer;
}

.sandwichMenu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #eeeadd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family: 'Original Surfer', cursive;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #c2b280;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .sandwichMenu {
    background-color: #eeeadd;
}
/*========================================================FULL MENU*/
.menu {
	display: none;
	height: 100px;
	margin-right: 10%;
	font-family: 'Original Surfer', cursive;
	font-size: 24px;
}

.menu ul {
    list-style-type: none;
    margin: 25px 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: right;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    border-bottom: 2px solid #eeeadd;
}

.active {
    border-bottom: 2px solid #c2b280;
}
/*========================================================LOGO*/
.logo {
	display: block;
	width: 200px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	margin: 20px auto;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	line-height: 60px;
	font-family: 'Original Surfer', cursive;
	font-size: 26px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/*====================LOGO ANIMATION*/
	position: relative;
	-webkit-animation-name: logo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: logo;
    animation-duration: 10s;
	animation-iteration-count: infinite;
}

.logo a {
	text-decoration: none;
}

.logo:hover {
	text-shadow: 0 0 3px #FF0000;
}
/*===================================LOGO ANIMATION*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
    0%   	{background-color: white; left:0px; top:0px;}
	12.5% 	{background-color: #9400D3; left:5px; top:5px;}
    25%  	{background-color: #4B0082; left:5px; top:0px;}
	37.5% 	{background-color: #0000FF; left:5px; top:-5px;}
    50%  	{background-color: #00FF00; left:0px; top:0px;}
	62.5% 	{background-color: #FFFF00; left:-5px; top:5px;}
	75% 	{background-color: #FF7F00; left:-5px; top:0px;}
	87.5% 	{background-color: #FF0000; left:-5px; top:-5px;}
    100% 	{background-color: white; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes logo {
    0%   	{background-color: white; left:0px; top:0px;}
	12.5% 	{background-color: #9400D3; left:5px; top:5px;}
    25%  	{background-color: #4B0082; left:5px; top:0px;}
	37.5% 	{background-color: #0000FF; left:5px; top:-5px;}
    50%  	{background-color: #00FF00; left:0px; top:0px;}
	62.5% 	{background-color: #FFFF00; left:-5px; top:5px;}
	75% 	{background-color: #FF7F00; left:-5px; top:0px;}
	87.5% 	{background-color: #FF0000; left:-5px; top:-5px;}
    100% 	{background-color: white; left:0px; top:0px;}
}

.logoText {
	-webkit-animation-name: logoText; Safari 4.0 - 8.0
    -webkit-animation-duration: 10s; Safari 4.0 - 8.0
    animation-name: logoText;
    animation-duration: 10s;
	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logoText {
    0%   	{color: black;}
    50%  	{color: white;}
    100% 	{color: black;}
}

/*Standard syntax*/
@keyframes logoText {
    0%   	{color: black;}
    50%  	{color: white;}
    100% 	{color: black;}
}

/*========================================================PAGE CONTENT*/
/*==================JUMBOTRON START*/
.jumbotron {
	display: none;
}

.jumbotronVideo {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 0;
}

.jumbotronContent {
	position: absolute;
	width: 50%;
	z-index: 1;
	top: 20%;
	margin-left: 25%;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: #eeeadd;
}

/*JUMBOTRON BUTTONS ANIMATION*/
.jbShop {
    -webkit-animation-name: jbShop; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: jbShop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.jButton:hover {
	color: black;
	text-shadow: 0 0 5px white;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jbShop {
	0% 		{background-color: #9400D3;}
    15%  	{background-color: #4B0082;}
	30% 	{background-color: #0000FF;}
    45%  	{background-color: #00FF00;}
	60% 	{background-color: #FFFF00;}
	75% 	{background-color: #FF7F00;}
	90% 	{background-color: #FF0000;}
    100% 	{background-color: #FF0000;}
}

/* Standard syntax */
@keyframes jbShop {
    0% 		{background-color: #9400D3;}
    15%  	{background-color: #4B0082;}
	30% 	{background-color: #0000FF;}
    45%  	{background-color: #00FF00;}
	60% 	{background-color: #FFFF00;}
	75% 	{background-color: #FF7F00;}
	90% 	{background-color: #FF0000;}
    100% 	{background-color: #FF0000;}
}

.jbEvents {
    -webkit-animation-name: jbEvents; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: jbEvents;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jbEvents {
	0% 		{background-color: #FF0000;}
	15% 	{background-color: #9400D3;}
    30%  	{background-color: #4B0082;}
	45% 	{background-color: #0000FF;}
    60%  	{background-color: #00FF00;}
	75% 	{background-color: #FFFF00;}
	90% 	{background-color: #FF7F00;}
    100% 	{background-color: #FF7F00;}
}

/* Standard syntax */
@keyframes jbEvents {
    0% 		{background-color: #FF0000;}
	15% 	{background-color: #9400D3;}
    30%  	{background-color: #4B0082;}
	45% 	{background-color: #0000FF;}
    60%  	{background-color: #00FF00;}
	75% 	{background-color: #FFFF00;}
	90% 	{background-color: #FF7F00;}
    100% 	{background-color: #FF7F00;}
}

.jbContact {
    -webkit-animation-name: jbContact; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: jbContact;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jbContact {
	0% 		{background-color: #FF7F00;}
	15% 	{background-color: #FF0000;}
	30% 	{background-color: #9400D3;}
    45%  	{background-color: #4B0082;}
	60% 	{background-color: #0000FF;}
    75%  	{background-color: #00FF00;}
	90% 	{background-color: #FFFF00;}
    100% 	{background-color: #FFFF00;}
}

/* Standard syntax */
@keyframes jbContact {
    0% 		{background-color: #FF7F00;}
	15% 	{background-color: #FF0000;}
	30% 	{background-color: #9400D3;}
    45%  	{background-color: #4B0082;}
	60% 	{background-color: #0000FF;}
    75%  	{background-color: #00FF00;}
	90% 	{background-color: #FFFF00;}
    100% 	{background-color: #FFFF00;}
}
/*==================JUMBOTRON END*/
/*========================================================GENERAL CONTENT*/
/* Sticky Footer */
.content {
	flex: 1 0 auto;
}

.container {
	position: relative;
	width: 100%;
	margin: 30px auto;
	background-color: white;
	padding: 5px 0;
	border-top: 3px solid #c2b280;
	border-bottom: 3px solid #c2b280;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container h1 {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #c2b280;
	margin-bottom: 5px;
}

.card {
	margin: 1%;
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
}

.containerImg {
	display: inline-block;
	position: relative;
}

.imgHalf {
	width: 50%;
}

.imgFull {
	width: 100%;
}

.imgLeft {
	float: left;
	margin-right: 10px;
}

.imgRight {
	float: right;
	margin-left: 10px;
}

.img {
	width: 100%;
	float: left;
}

.details {
	position: absolute;
	background-color: #25a7da;
	width: 100%;
	height: 30px;
	bottom: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.details:hover {
	background-color: #87ceeb;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
	width: 50%;
	height: 60px;
	margin: 0 auto;
	background-color: #25a7da;
	border-radius: 1em;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	margin: 10px auto;
}

.button:hover {
	background-color: #87ceeb;
}
/*========================================================SHOP CONTENT*/
.containerItem {
	margin: 1%;
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
}

.itemDecor {
	border: 2px solid #eeeadd;
	border-top: 0;
	border-bottom: 0;
	border-radius: 1em;
}

.itemDecor p {
	margin: 5px;
	padding: 5px;
}

.itemName {
	width: 100%;
	height: 30px;
	background-color: #c2b280;
	border-radius: 1em;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}
/*========================================================CONTACT CONTENT*/
.contactForm {
	margin: 10px;
}

.input {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 10px;
}

.textArea {
	resize: none;
	margin: 0;
	padding-left: 2px;
}
/*========================================================FOOTER*/
.footer {
	flex-shrink: 0;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	background-color: #c2b280;
	background: -webkit-linear-gradient(left top, #eeeadd, #c2b280);
    background: -o-linear-gradient(bottom right, #eeeadd, #c2b280);
    background: -moz-linear-gradient(bottom right, #eeeadd, #c2b280);
    background: linear-gradient(to bottom right, #eeeadd, #c2b280);
}

.copyright {
	position: relative;
    -webkit-animation-name: copyright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: copyright;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/*=======================================COPYRIGHT ANIMATION*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes copyright {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}
/* Standard syntax */
@keyframes copyright {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}
/*========================================================= MEDIA QUEIRES*/
/*TOO SMALL*/
@media only screen and (max-width: 315px) {
	.logo {
		display: none;
	}
}
/*IPAD*/
@media only screen and (min-width: 768px) {
	.container {
		display: inline-block;
	}
	
	.container h1 {
		display: block;
		text-align: center;
	}
	
	.card {
		width: 30%;
		margin-right: 3%;
		float: left;
	}
	
	.lastCard {
		float: right;
		margin-right: 1%;
	}
	
	.imgHalf {
		width: 100%;
	}
	
	.containerItem {
		width: 48%;
		float: left;
	}
}
/*LAPTOP*/
@media only screen and (min-width: 1024px) {
	.menu {
		display: block;
	}

	.jumbotron {
		padding: 0;
		position: relative;
		display: inline-block;
	}
	
	.dropdown {
		display: none;
	}
	
	.logo {
		float: left;
		margin-left: 10%;
	}
	
	.content {
		width: 90%;
		margin: 0 auto;
	}
	
	.container {
		display: inline-block;
	}
}